{% extends 'base.html' %}
{% load static %}

{% block title %} Create_qrcode {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/style_create_qrcode.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Ysabeau Infant'>
{% endblock %}

{% block content %}
    <div class = 'main-input'>
        <div class = 'for-urls'>
            <div class = 'url-link'>
                <p class = 'url-name'>Ваш URL-адрес</p>
                <form method="post" class = 'form-url-link'>
                    {% csrf_token %}
                    <input type="text" placeholder="https://www.com" class = 'input-url' name="data" id="data">
                </form>
            </div>

            <div class = 'qrcode-settings'>
                <div class = 'div-settings'>
                    <img src="{% static 'images/drawing_icon.png' %}" class = 'image-urls'>
                    <p class ='text-settings'>Налаштуйте кольори</p>
                    <form method="post" class = 'form-settings'>
                        {% csrf_token %}
                        <button type="submit" class='button-settings'>+</button>
                    </form>
                </div>

                <div class = 'div-settings'>
                    <img src="{% static 'images/gallery.png' %}" class = 'image-urls'>
                    <p class ='text-settings'>Додати кольори</p>
                    <form method="post" class = 'form-settings'>
                        {% csrf_token %}
                        <button type = 'submit' class='button-settings'>+</button>
                    </form>
                </div>

                <div class = 'div-settings third'>
                    <img src="{% static 'images/qrcode.png' %}" class = 'image-urls'>
                    <p class ='text-settings'>Виберіть дизайн</p>
                    <form method="post" class = 'form-settings'>
                        {% csrf_token %}
                        <button type="submit" class='button-settings'>+</button>
                    </form>
                </div>


            </div>

        </div>

        <div class = 'qrcode-buttons'>
            {% if img_name %}
                <img src="/media/{{ img_name }}" alt="qr code" class = 'main-qrcode'>
            {% endif %}
            <div class = 'div-buttons'>
                <form method="post" class = 'form-buttons'>
                    {% csrf_token %}
                    <button type="submit" class = 'qr-button main'>Створити Qr-код</button>
                    <button type="submit" class = 'qr-button second'>Скачати як PNG</button>
                </form>
            </div>
        </div>

      

    </div>
{% endblock %}