{% extends 'base.html' %}
{% load static %}

{% block title %} Create_qrcode {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/style_create_qrcode.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Ysabeau Infant'>
{% endblock %}

{% block content %}
    <div class = 'main-input'>
            <form method="post" class = 'main-form'>
                {% csrf_token %}
                <div class = 'main-posit'>
                    <div class = 'for-urls'>
                        <div class = 'url-link'>
                            <p class = 'url-name'>Ваш URL-адрес</p>
                            <input type="text" placeholder="https://www.com" class = 'input-url' name="data" id="data">
                        </div>
                            
                        <div class = 'qrcode-settings'>
                            <div class = 'div-settings'>
                                <img src="{% static 'images/drawing_icon.png' %}" class = 'image-urls'>
                                <p class ='text-settings'>Налаштуйте кольори</p>
                                <button type="button" class='button-settings'>+</button>
                            </div>

                            <div class = 'div-settings'>
                                <img src="{% static 'images/gallery.png' %}" class = 'image-urls'>
                                <p class ='text-settings'>Додайте логотип</p>
                                <button type = 'button' class='button-settings'>+</button>
                            </div>

                            <div class = 'div-settings third'>
                                <img src="{% static 'images/qrcode.png' %}" class = 'image-urls'>
                                <p class ='text-settings'>Виберіть дизайн</p>
                                <button type="button" class='button-settings'>+</button>
                            </div>
                        </div>

                    </div>

                    <div class = 'qrcode-buttons'>
                        {% if img_name %}
                            <img src="/media/{{ img_name }}" alt="qr-code" class = 'main-qrcode'>
                        {% endif %}
                        <div class = 'div-buttons'>
                            <button type="button" class = 'qr-button main'>Створити Qr-код</button>
                            <button type="button" class = 'qr-button second'>Скачати як PNG</button>
                        </div>
                    </div>
            

                </form>
            </div>
        </div>


      


{% endblock %}