
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f8e2ff, #e6ccff);
}
.account-settings {
    background: white;
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
    width: 40vw;
    text-align: center;
}
.title {
    font-size: 3vh;
    color: #6a1b9a;
    margin-bottom: 2vh;
}
.sett {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.info, .security {
    width: 100%;
    text-align: left;
}
.info h3, .security h3 {
    margin-bottom: 1vh;
    color: #6a1b9a;
}
.info p {
    background: #f3e5f5;
    padding: 1vh;
    border-radius: 1vh;
    text-align: center;
}


/* body{
    background: linear-gradient(to right, #FFFFFF, #E2C9F0);    
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
}

.account-settings{
    margin-left: 10vw;
    margin-right: auto;
    margin-top: 5%;
    width: 90%; 
    max-width: 1200px; 
    padding: 10px;
    box-sizing: border-box;  
    border-radius: 45px;
    background-color: #E2C9F0;

} */
