body{
    background: linear-gradient(to right, #FFFFFF, #E2C9F0);    
}

.main{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.account-settings{
    margin-left: 10vw;
    margin-right: auto;
    margin-top: 5%;
    width: 90%; 
    max-width: 1200px; 
    padding: 10px;
    box-sizing: border-box;  
    border-radius: 45px;
    background-color: #E2C9F0;

}