{% extends "base.html" %}

{% load static %}

{% block title %} Account {% endblock  %}

{% block links %}
    <link rel="stylesheet" href="{% static 'account/css/styles.css' %}">
{% endblock  %}

{% block content %}
    {% comment %} <div class="main">
        <div class="account-settings">
            <div class="sett">
                <h3>Ім'я користувача:</h3>
                <p>{{ user.username }}</p>
                <br>
                <h3>Email користувача:</h3>
                <p>{{ user.email }}</p>
                <br>
                <h3>Підписка користувача:</h3>
                <p>{{ user.licence }}</p>
            </div>
        </div>
    </div> {% endcomment %}

<div class="main">
    <div class="account-settings">
        <h2 class="title">Налаштування</h2>
        <div class="sett">
            <div class="info">
                <h3>Ім'я користувача:</h3>
                <p>{{ user.username }}</p>
                <h3>Email користувача:</h3>
                <p>{{ user.email }}</p>
                <h3>Підписка користувача:</h3>
                <p>{{ user.licence }}</p>
            </div>
            <div class="security">
                <h3>Безпека</h3>
                <label>Email</label>
                <input type="text" value="{{ user.email }}" disabled>
                <label>Пароль</label>
                <input type="password" value="********" disabled>
                <button>Змінити пароль</button>
            </div>
        </div>
    </div>
</div>


  
        
{% endblock  %}

