*{
    padding: 0px;
    margin: 0px;
    
}
body{
    background: linear-gradient(to right, white, #E2C9F0);
    font-family: 'Ysabeau Infant';
    overflow-x: hidden;
}

.main-for-qrcodes{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-qrcodes{
    width: 90vw;
    height: 55vh;
    display: flex;
    justify-content: space-around;
    gap: 3vw;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6vh;
}

.card{
    width: 18vw;
    height: 54vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EBDBF0;
    border-radius: 0.8vw;
    box-shadow: 0px 4px 20px 0vw rgba(0, 0, 0, 0.25);
}

.my-qrcode{
    width: 12vw;
    height: 26vh;
    margin-top: 4vh;
}

.p-text{
    width: 14vw;
    height: 10vh;
    margin-top: 3vh;
}

p.my-text.second{
    margin-top: 2.5vh;
    width: 13vw;
    height: 5vh;
    overflow: hidden;
    white-space: nowrap;
}

.my-text{
    font-size: calc(0.7vw + 0.7vh);
    color: #606060;
}

p.my-text.main{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.button-png{
    width: 13vw;
    height: 5vh;
    text-align: center;
    font-size: calc(0.7vw + 0.7vh);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #D9C4FF;
    border-style: none;
    margin-top: 1.5vh;
}

.icon-download{
    margin-left: 0.5vw;
    width: 1.7vw;
    height: 3.5vh;
}




.main-filter-div{
    width: 55vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

.filter-div{
    width: 55vw;
    height: 20vh;
    background: linear-gradient(white, #E2C9F0);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0vw 0.8vh 0.7vh 0vh rgba(0, 0, 0, 25%);
    border-radius: 1vw;
}

.main-form{
    width: 60vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.text-filter{
    font-size: calc(1vw + 1vh);
    margin-top: 2vh;
}

.buttons-filter{
    width: 31vw;
    height: 21vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.button-filter{
    width: 10vw;
    height: 4.6vh;
    font-size: calc(0.7vw + 0.7vh);
    color: #9A81B6;
    border-radius: 0.5vw;
    background-color: #E7CAF9;
    border-style: none;
    margin-bottom: 1.5vh;
}

