{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/core.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div class = "title">
            <h1>Ласкаво просимо на нашому сайті <b>QR Code Maker</b></h1>
            <p>На сайті <b>QR Code Maker</b> ви можете зробити свої власні кастомізовані QR коди. Налаштуйте його за бажанним кольром, зображенням та формою.</p>
        </div>
        <div class = "plans-cards">
            <div class = "plan-card">
                    <div>
                    <h2 id = "modal-title">Free підписка</h2>
                    <h5>Економний варіант для новачка</h5>
                    <p>Free</p>
                    <h3>За місяць</h3>
                    <button id = "choose-plan" value="free">Get started</button>
                    <h6>Усе в Free, а також:</h6>
                    <ul>
                        <li class = "plan-card-storage">1 QR код на  місяць</li>
                    </ul>
                </div>
            </div>
            <div class = "plan-card">
                    <div>
                    <h2 id = "modal-title">Standart підписка</h2>
                    <h5>Вибір звичайного користувача</h5>
                    <p>2$</p>
                    <h3>За місяць</h3>
                    <button id = "choose-plan" value="standart">Get started</button>
                    <h6>Усе в Standart, а також:</h6>
                    <ul>
                        <li class = "plan-card-storage">До 10 кастомізованих QR кодів</li>
                        <li class = "plan-card-storage">Вигідна ціна для маленьких задач</li>
                    </ul>
                </div>
            </div>
            <div class = "plan-card">
                <div>
                    <h2 id = "modal-title">Pro підписка</h2>
                    <h5>Преміум для профі користувача</h5>
                    <p>10$</p>
                    <h3>За місяць</h3>
                    <button id = "choose-plan" value="pro">Get started</button>
                    <h6>Усе в Pro, а також:</h6>
                    <ul>
                        <li class = "plan-card-storage">До 100 кастомізованих QR кодів</li>
                        <li class = "plan-card-storage">Вигідна ціна для виробників</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class = "create-button">
            <h1>Перейти до створення QR коду</h1>
            <button class = "create">Створити</button>
        </div>
    </main>





<div id = "modal-window" class = "window-div">
    <form class = "modal" method = "post">
        {% csrf_token %}
        <input type="hidden" name="subscribe" class = "subscribe-input">
        <h1 class = "warning-text">Ви впевнені що хочете змінити підписку?</h1>
        <button id = "confirn-button" type="submit">Так</button>
        <button id = "cancel-button">Ні</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src = "{% static 'js/modal.js' %}"></script>
{% endblock %}








