{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/core.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div class = "title">
            <h1>Ласкаво просимо на нашому сайті <b>QR Code Maker</b></h1>
            <p>На сайті <b>QR Code Maker</b> ви можете зробити свої власні кастомізовані QR коди. Налаштуйте його за бажанним кольром, зображенням та формою.</p>
        </div>
        <div class = "plans-cards">
            <div class = "plan-card">
                    <div>
                    <h2 id = "modal-title">Free підписка</h2>
                    <h5>Економний варіант для новачка</h5>
                    <p>Free</p>
                    <h3>За місяць</h3>
                    <button id = "choose-plan" value="free">Get started</button>
                    <h6>Усе в Free, а також:</h6>
                    <ul>
                        <li class = "plan-card-storage">1 QR код на  місяць</li>
                    </ul>
                </div>
            </div>
            <div class = "plan-card">
                    <div>
                    <h2 id = "modal-title">Standart підписка</h2>
                    <h5>Вибір звичайного користувача</h5>
                    <p>2$</p>
                    <h3>За місяць</h3>
                    <button id = "choose-plan" value="standart">Get started</button>
                    <h6>Усе в Standart, а також:</h6>
                    <ul>
                        <li class = "plan-card-storage">До 10 кастомізованих QR кодів</li>
                        <li class = "plan-card-storage">Вигідна ціна для маленьких задач</li>
                    </ul>
                </div>
            </div>
            <div class = "plan-card">
                <div>
                    <h2 id = "modal-title">Pro підписка</h2>
                    <h5>Преміум для профі користувача</h5>
                    <p>10$</p>
                    <h3>За місяць</h3>
                    <button id = "choose-plan" value="pro">Get started</button>
                    <h6>Усе в Pro, а також:</h6>
                    <ul>
                        <li class = "plan-card-storage">До 100 кастомізованих QR кодів</li>
                        <li class = "plan-card-storage">Вигідна ціна для виробників</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class = "create-button">
            <h1>Перейти до створення QR коду</h1>
            <form method="post">
                {% csrf_token %}
                <button class = "create" id = "create-QRcode" type = "submit" name = "create-QR" value = "1">Створити</button>
            </form> 
        </div>
    </main>

<div id = "modal-window" class = "window-div">
    <form class = "modal" method = "post">
        {% csrf_token %}
        <input type="hidden" name="subscribe" class = "subscribe-input">
        <h1 class = "warning-text">Ви впевнені що хочете змінити підписку?</h1>
        <div class="modal-placer">
            <h2>Ім'я: </h2>
            <input type="text" name="name" minlength="3" maxlength="50" required>
        </div>
        <div class="modal-placer">
            <h2>Контактний номер: </h2>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" required>
        </div>
        <div class="modal-placer">
            <h2>Номер картки: </h2>
            <input id="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" required>
        </div>
        <div class="modal-placer">
            <button class="button-yes" id = "confirn-button" type="submit">Так</button>
            <button class="button-no" id = "cancel-button">Ні</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src = "{% static 'js/modal.js' %}"></script>
{% endblock %}