{% extends 'base.html' %}
{% load static %}

{% block title %} My_qrcodes {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/style_my_qrcodes.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Ysabeau Infant'>
{% endblock %}

{% block content %}
    <div class = 'main-for-qrcodes'>
        <div class = 'div-qrcodes'>
            <div class = 'card'>
                <!-- <button>
                    <img src="{% static 'images/trash_can.png' %}" class = 'trash-can'>
                </button> -->
                <img src="{% static 'images/my_qrcode.png' %}" class = 'my-qrcode'>
                <div class = 'p-text'>
                    <p class = 'my-text main'>QR code url -` `</p>
                    <p class = 'my-text second'>Дата: 15.02.2025</p>
                </div>
                    <form method="post">
                        <button class = 'button-png'>
                            Завантажити як png
                            <img src="{% static 'images/icon_download.png' %}" class = 'icon-download'>
                        </button>
                    </form>
            </div>

            <div class = 'card'>
                <img src="{% static 'images/my_qrcode.png' %}" class = 'my-qrcode'>
                <div class = 'p-text'>
                    <p class = 'my-text main'>QR code url -` `</p>
                    <p class = 'my-text second'>Дата: 15.02.2025</p>
                </div>
                    <form method="post">
                        <button class = 'button-png'>
                            Завантажити як png
                            <img src="{% static 'images/icon_download.png' %}" class = 'icon-download'>
                        </button>
                    </form>
            </div>

            <div class = 'card'>
                <img src="{% static 'images/my_qrcode.png' %}" class = 'my-qrcode'>
                <div class = 'p-text'>
                    <p class = 'my-text main'>QR code url -` `</p>
                    <p class = 'my-text second'>Дата: 15.02.2025</p>
                </div>
            
                    <form method="post">
                        <button class = 'button-png'>
                            Завантажити як png
                            <img src="{% static 'images/icon_download.png' %}" class = 'icon-download'>
                        </button>
                    </form>
            </div>
        </div>



        <div class = 'main-filter-div'>
            <div class = 'filter-div'>
                <p class = 'text-filter'>Фільтрування</p>
                <div class = 'buttons-filter'>
                    <button class = 'button-filter main'>◦ Рік</button>
                    <button class = 'button-filter second'>◦ Місяць</button>
                    <button class = 'button-filter third'>◦ День</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}